#root section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#root section article {
  margin: 15px;
  flex-basis: 30%;
}

#root .btn {
  color: #fff;
  background-color: rgb(121 71 136);
  text-transform: capitalize;
  padding: 10px 22px;
  margin: 12px 12px 12px 0;
  cursor: pointer;
  border: 1px solid gray;
  outline: none;
}

#root .btn-delete {
  color: #fff;
  background-color: red;
  text-transform: capitalize;
  padding: 7px 10px;
  margin: 7px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  border-radius: 4px;
}

#root .people-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root .people-list .person {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  background-color: rgb(237 237 237);
  align-items: center;
  padding: 0 12px;
  margin: 15px;
}

#root .github-users {
  display: flex;
  justify-content: space-between;
}

#root .github-users .user {
  display: flex;
  align-items: center;
  flex-basis: 30%;
}

#root .github-users .user .avatar-img-link img {
  transition: all 0.25s ease;
}

#root .github-users .user .avatar-img-link:hover > img {
  transition: all 0.25s ease;
  width: 70px;
  height: 70px;
}

#root .github-users .user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#root .github-users .user-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#root .github-users .user-info h5 {
  margin: 4px 0;
}

#root .show-component {
  background-color: rgb(85, 219, 85);
  color: #fff;
  text-align: center;
  padding: 8px;
}

#root .hide-component {
  background-color: rgb(48, 123, 223);
  color: #fff;
  text-align: center;
  padding: 8px;
}

section.persons {
  display: flex;
  flex-direction: column;
  width: 50%;
  transform: translate(50%);
}

section.persons .person {
  display: flex;
  justify-content: space-between;
  flex: 100%;
}

section.persons .person h2 {
  margin: 0;
}

.message {
  width: 50vw;
  transform: translate(50%);
  padding: 8px 5px;
  background-color: rgb(109, 238, 120);
  color: #fff;
  border-radius: 5px;
}
