#root section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#root section article {
  margin: 15px;
}

#root .btn {
  color: #fff;
  background-color: rgb(121 71 136);
  text-transform: capitalize;
  padding: 10px 22px;
  margin: 12px;
  cursor: pointer;
  border: 1px solid gray;
  outline: none;
}

#root .btn-delete {
  color: #fff;
  background-color: red;
  text-transform: capitalize;
  padding: 7px 10px;
  margin: 7px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  border-radius: 4px;
}

#root .people-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root .people-list .person {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  background-color: rgb(237 237 237);
  align-items: center;
  padding: 0 12px;
  margin: 15px;
}
